@import "tailwindcss";

@theme {
  --color-brand: #ff4757;
  --color-brand-hover: #ff6b81;
}

@layer base {
  body {
    @apply bg-zinc-950 text-white antialiased overflow-hidden;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    border-radius: 20px;
  }
}